<script>import { v4 as uuid } from 'uuid';
id: uuid()
</script>

<h1>{{ mmmjservice.MainText }}</h1>
<hr>

<div class="row">



    <p>Listado</p>
    <ol class="list-group">
      <li *ngFor="let mmmjservice of mmmjservice.characters;
                  let i = index;
                  let isfirst = first;
                  let isLast = last;
                  let isEven = even;
                  let isOdd = odd;"
                  class="list-group-item d-flex justify-content-between align-items-center"
                  [ngClass]="{ 'list-group-item-success': isfirst,
                  'list-group-item-primary': isLast,
                  'list-group-item-dark': isEven
                 }">
                 <div class="col">
                  <span class="text-primary"> {{i}}.&nbsp;</span>
                  {{mmmjservice.descripcionSeguro}} - {{mmmjservice.importeSeguro}}
                </div>
                <!--<button (click)="mmmjservice.onDeleteCharacter(1)" class="btn btn-danger">Borrar línea</button>-->
                <!--<button (click)="mmmjservice.deleteCharacterById('no lo se')" class="btn btn-danger"><strong>Borrar línea</strong></button>-->
                <!--<button (onDelete)="onDeleteCharacter('545454')" class="btn btn-danger"><strong>Borrar línea</strong></button>-->

                <button (click)="onDeleteCharacter('d4517838-0e24-4606-9b47-8273711cc648' || 'NULL')" class="btn btn-danger"><strong>Borrar línea</strong></button>
      </li>
  </ol>

  <!--<button (click)="onDeleteCharacter('' || 'NULL')" class="btn btn-danger"><strong>Borrar línea</strong></button>-->
  <!--Mostramos lista (se carga desde elmain-page.comoponent.ts)-->
    <add-character (onNewCharacter)="onNewCharacter($event)"></add-character>
    <br>
    <hr>
    <!--<br>
    <add-character>
      {{ characters }}
    </add-character>-->
</div>
<!--
Colorea toda la lista
class="list-group-item list-group-item-success">

Colorea toda la lista
[ngClass]="{ 'list-group-item-success': true }">

colorea solo el primero la lista
class="list-group-item {{ i === 0 ? 'list-group-item-success': ''}}">

colorea solo el primero la lista
[ngClass]="{ 'list-group-item-success': isfirst }">

colorea solo el último la lista
[ngClass]="{ 'list-group-item-success': isLast }">

número de registro
let i = index;

si es el primero de la lista
let isfirst = first;

si es el último de la lista
let isLast = last;

si es par
let isEven = even;

si es impar
let isOdd = odd;"

Para empezar contador en 1
<span class="text-primary"> {{i + 1}}.&nbsp;</span>

'list-group-item-light':
'list-group-item-success':
'list-group-item-primary':
'list-group-item-dark':

<span> El primero: {{isfirst}}</span>
<span> El último: {{i === characters.length - 1}}</span>
<span> El último: {{isLast}}</span>
<span> Es par: {{isEven}}</span>
<span> Es impar: {{isOdd}}</span>
-->
