<!--
<h4>Listado de seguros Mutual Médica</h4>
<strong><ul class="list-group">
  <li class="list-group-item">PJ  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 500</li>
  <li class="list-group-item">AEG &nbsp;&nbsp;&nbsp;&nbsp; - 10,000</li>
  <li class="list-group-item">PPA &nbsp;&nbsp;&nbsp;&nbsp; - 10,000</li>
  <li class="list-group-item">MEL &nbsp;&nbsp;&nbsp;&nbsp; - 3512,00</li>
  <li class="list-group-item">MJ  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 2512,00</li>
</ul></strong>
-->
<ol>
  <li *ngFor="let character of characterList"
  class="list-group-item">
  <span class="text-primary"> 1. </span>
  {{character.descripcionSeguro}} - {{character.importeSeguro}}
  </li>
</ol>
